.DS_STORE
.haxelib/
.vs/
APIStuff.hx
dump/
export/
hmm/
RECOVER_*.fla
shitAudio/
.build_time
.swp
Vscode-Project.hxml

# Exclude JS stuff
node_modules/
package.json
package-lock.json
.aider*

# UGH
!haxelib/jsonpath/git/
